@{
    ViewBag.Title = "Changelogs";
}

<div class="jumbotron">
    <h1>YouTube Vanced</h1>
    <p class="lead">Changelogs of the YouTube Vanced.</p>
    <p><cite>Note: Will improve this page at a later date.</cite></p>
</div>

<p><strong>Additional changes in 13.11.57</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Google has done some improvements/bug fixes to the new minimized video type style (Actually in 13.11.56).
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v18.2</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added Chinese (Traditional) translations
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v18.1</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added Arabic, Dutch, French, German, Greek, Portuguese (Brazil), Russian, Spanish translations
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v18.0</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Possible navbar color fix for Samsung
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added Zoom to Fit for Vertical view (New feature, test how it works)
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added option to enable new navbar (Full Width Search)
            <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Fixed: new minimized video type
            <span class="badge badge-primary badge-pill">4</span>
        </li>
    </ul>
</div>
<p><strong>Patch v17.4</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Navbar color fix for Oreo runtime theme (except Samsung)
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v17.3</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Performance improvements
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v17.2</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added ExoPlayer V2 Warning
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v17.1</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added bad Finnish translations
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v17.0</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added cast button remover
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v16.2</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Refactored refresh icon background patch
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added patch for quantum text (Dark theme switch)
            <span class="badge badge-primary badge-pill">2</span>
        </li>
    </ul>
</div>
<p><strong>Patch v16.0</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added preferred speed options
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Refactoring some code and strings
            <span class="badge badge-primary badge-pill">2</span>
        </li>
    </ul>
</div>
<p><strong>Patch v15.0</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added translation support
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v14.2</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added Dark App Title (YouTubes's unfinished Black Theme)
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v14.1</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added Exoplayer V2 toggle (Google's experimental player)
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v14.0</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added Buffer Policy settings
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>
<p><strong>Patch v13.0</strong></p>
<div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            - Added HDR Full Brightness toggle
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</div>