@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="discord">
    <iframe src="https://discordapp.com/widget?id=328493314485518336&theme=dark" width="330" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>